<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit the listing:</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
            <div class="valid-feedback">Title is good to go!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Enter a brief description!</div>
        </div>

        <div class="mb-3">
            Original Image <br>
            <img src="<%= originalImageUrl %>" class="img-fluid rounded mb-3" alt="Original listing image">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload a new image!</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%=listing.price%>" type="number" min="0" class="form-control" required>
            <div class="invalid-feedback">Enter a valid pricing!</div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" required>
            <div class="invalid-feedback">Enter a valid country name!</div>
        </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
            <div class="invalid-feedback">Enter the location!</div>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
                <select name="listing[category]" id="category" class="form-select" required>
                    <option value="Trending" <%= listing.category === "Trending" ? "selected" : "" %>>Trending</option>
                    <option value="Beach" <%= listing.category === "Beach" ? "selected" : "" %>>Beach</option>
                    <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>Mountains</option>
                    <option value="City" <%= listing.category === "City" ? "selected" : "" %>>City</option>
                    <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
                    <option value="Luxury" <%= listing.category === "Luxury" ? "selected" : "" %>>Luxury</option>
                    <option value="Farms" <%= listing.category === "Farms" ? "selected" : "" %>>Farms</option>
                    <option value="Arctic" <%= listing.category === "Arctic" ? "selected" : "" %>>Arctic</option>
                    <option value="Desert" <%= listing.category === "Desert" ? "selected" : "" %>>Desert</option>
                    <option value="Pool" <%= listing.category === "Pool" ? "selected" : "" %>>Pool</option>
                </select>
        </div>
    
        <button class="btn btn-primary edit-btn mt-3">Edit</button>
    </form>
    </div>
</div>